<h1>LoanRequests</h1>

<% @loan_requests.each do |loan_request|%>
  Borrower Name : <%= loan_request.borrower_name %> <br />
  Loan number : <%= loan_request.loan_number %> <br />
  interest rate : <%= loan_request.interest_rate %> <br />
  Request date time : <%= loan_request.request_time %> <br />
<% end %>
