<script>
  loanRequestid = <%= @loan.id %>
  function receivedProgress(data) {
    if(data.progress >= 100) {
      window.location = '/loans/payment_schedule/' + loanRequestid
    }
  }

  setInterval(function() {
    $.ajax({
      type: 'POST',
      url: '/loans/progress',
      success: receivedProgress,
      data: {'id': loanRequestid}
    })
  }, 1000)
</script>
<div id = "loading-bar">
  Processing Loan
</div>
